* {
  font-family: Lato;
}

h3 {
  font-weight: 200;
  color: rgb(90, 87, 87);
}

.welcome {
  text-align: center;
  margin-bottom: 10vh;
}

.items {
  margin-left: 12%;
}

.item-card {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  width: 20%;
  height: 480px;
  padding: 25px 32px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 15px 12px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 15px 12px rgba(0, 0, 0, 0.09);
  transition: 0.3s;
}

.item-card:hover {
  -webkit-box-shadow: 1px 1px 15px 12px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 15px 12px rgba(0, 0, 0, 0.19);
}

.item-card span,
img,
button {
  margin-top: 20px;
}

.item-card button {
  padding: 12px 48px;
  border: none;
  border-radius: 10px;
  background-color: #ea4335;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.item-card button:hover {
  background-color: #f76558;
}

@media screen and (max-width: 600px) {
  .items {
    margin: 0 auto;
    margin-right: 5%;
  }

  .item-card {
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 10vh;
  }

  .item-card button {
    margin-bottom: 20px;
  }
}
